{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Disciplinas {% if perms.AppDanzaVida.add_disciplina %}<a href="{% url 'disciplina_create' %}" class="btn float-end" style="background-color: #FF9843;">Nueva Disciplina <i class="bi bi-file-earmark-plus"></i></a>{% endif %}</h2>
    <br>
    <table id="disciplinaTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-2">Sucursal</th>
                <th scope="col" class="col-3">Nombre</th>
                <th scope="col" class="col-2">Tipo</th>
                <th scope="col" class="col-1">Horario</th>
                <th scope="col" class="col-1">Activo</th>
                <th scope="col" class="col-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in object_list %}
            <tr>
                <td>{{ disciplina.sucursal.nombre }}</td>
                <td>{{ disciplina.nombre }}</td>
                <td>{{ disciplina.tipo.nombre }}</td>
                <td>
                    {% if disciplina.horario.all %}
                    <button type="button" class="btn" style="background-color: #FF9843;" data-bs-toggle="modal" data-bs-target="#horarioModal{{ disciplina.id }}"><i class="bi bi-clock"></i></button>
                    
                    <!-- Modal con los horarios de la disciplina -->
                    <div class="modal fade" id="horarioModal{{ disciplina.id }}" tabindex="-1" aria-labelledby="horarioModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="horarioModalLabel">Horarios de {{ disciplina.nombre }} ({{ disciplina.tipo.nombre }})</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Día</th>
                                                <th scope="col">Inicia</th>
                                                <th scope="col">Finaliza</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for horario in disciplina.horario.all %}
                                            <tr>
                                                <td>{{ horario.get_dia_display }}</td>
                                                <td>{{ horario.hora_inicio|date:"H:i" }}hs.</td>
                                                <td>{{ horario.hora_fin|date:"H:i" }}hs.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </td>
                <td>
                    {% if disciplina.activa == True %}
                      <span class="badge bg-success rounded-pill">Activa</span>
                    {% elif disciplina.activa == False %}
                      <span class="badge bg-danger rounded-pill">No activa</span>
                    {% endif %}
                  </td>
                <td>
                  {% if perms.AppDanzaVida.change_disciplina %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                    <button type="button" class="btn" style="background-color: #9DBC98;" onclick="window.location.href='{% url 'disciplina_update' disciplina.id %}'"><i class="bi bi-pencil"></i></button>
                  </span>
                  {% endif %}
                  {% if perms.AppDanzaVida.view_alumno %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Alumnos">
                    <button type="button" class="btn" style="background-color: #FFBB64;" onclick="window.location.href='{% url 'disciplina_alumnos' disciplina.id %}'"><i class="bi bi-list-task"></i></button>
                  </span>
                  {% endif %}
                  {% if perms.AppDanzaVida.change_inscripcion and disciplina.activa == True %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Finalizar">
                    <button type="button" class="btn" style="background-color: #6895D2;" data-bs-toggle="modal" data-bs-target="#bajaModal{{ disciplina.id }}"><i class="bi bi-file-earmark-excel"></i></button>
                  </span>
                  {% endif %}
                  {% if perms.AppDanzaVida.delete_disciplina %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <button type="button" class="btn" style="background-color: #D24545;" data-bs-toggle="modal" data-bs-target="#deleteModal{{ disciplina.id }}"><i class="bi bi-trash"></i></button>
                  </span>
                  {% endif %}
                </td>
            </tr>
            <!-- Inicio Modal Baja -->
            <div class="modal fade" id="bajaModal{{ disciplina.id }}" tabindex="-1" aria-labelledby="bajaModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="bajaModalLabel">Confirmar baja</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <p class="text-center">¿Estás seguro de que deseas finalizar la disciplina <b>{{ disciplina.nombre }} ({{ disciplina.sucursal.nombre }})</b> y todos los alumnos inscriptos?</p>
                  <form action="{% url 'disciplina_baja' disciplina.id %}" method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="fecha_baja" class="form-label">Fecha de baja:</label>
                          <input type="date" class="form-control" id="fecha_baja" name="fecha_baja" value="{{ now|date:'Y-m-d' }}">
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <input type="submit" value="Dar de baja" class="btn btn-danger">
                      </div>
                  </form>
                  </div>
              </div>
              </div>
            </div>
            <!-- Fin Modal Baja -->
            <!-- Inicio Modal Eliminar -->
            <div class="modal fade" id="deleteModal{{ disciplina.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-center">¿Estás seguro de que deseas eliminar el horario <b>{{ disciplina.nombre }} de {{ disciplina.sucursal.nombre }} para {{ disciplina.tipo_disciplina.nombre  }}</b>?</p>
                    <p class="text-danger text-center"><b>¡Una vez eliminado no podrás recuperarlo!</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'disciplina_delete' disciplina.id %}" class="btn btn-danger">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin Modal Eliminar -->
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  // Inicializar los tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>

<link rel="stylesheet" href="{% static 'style/jquery.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function() {
    var table = $('#disciplinaTable').DataTable({
        "order": [[ 0, "desc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json",
            "sLengthMenu": "_MENU_",
            "sInfo": "<h6 class='float-end'>Total de registros: _TOTAL_</h6>"
        },
        "initComplete": function() {
            // Aplicar clases de Bootstrap al campo de búsqueda
            $('div.dataTables_filter input').attr('placeholder', 'Buscar..');
            $('div.dataTables_filter label').contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
            }).remove();

            // Aplicar clases de Bootstrap al select de cantidad de registros a mostrar
            $('div.dataTables_length label').contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
            }).remove();
            $('div.dataTables_length label').prepend('Registros por página: ');

            // Aplicar clases de Bootstrap a la paginación
            $('div.dataTables_paginate').addClass('justify-content-center');
            $('div.dataTables_paginate a').addClass('btn btn-primary');
            $('div.dataTables_paginate a').css('margin', '0 2px');
        },
        "drawCallback": function() {
            // Aplicar clases de Bootstrap a la paginación en cada cambio de página
            $('div.dataTables_paginate a');
            $('div.dataTables_paginate a').css('margin', '0 2px');
        }
    });

    // Mover el campo de búsqueda y el select de cantidad de registros a la misma fila
    $('div.dataTables_filter').css('float', 'right');
    $('div.dataTables_length').css('float', 'left');
    $('div.dataTables_filter').appendTo('#decretoTable_length');
});
</script>
{% endblock %}