{% extends 'base.html' %}

{% block content %}
<br>
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h4 class="card-title">Nuevo tipo disciplina</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <br>
                <div class="row">
                    <div class="col-6">
                        <h6>Nombre (*)</h6>
                        {{ form.nombre }}
                    </div>
                    <div class="col-6">
                        <h6>Descripción (*)</h6>
                        {{ form.descripcion }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5 class="text-center">Precios</h5>
                    <div class="col-1">
                        <h6>Clase (*)</h6>
                        {{ form.precio_clase }}
                    </div>
                    <div class="col-3">
                        <h6>1 por semana (*)</h6>
                        {{ form.precio_semana_1 }}
                    </div>
                    <div class="col-3">
                        <h6>2 por semana (*)</h6>
                        {{ form.precio_semana_2 }}
                    </div>
                    <div class="col-3">
                        <h6>3 por semana (*)</h6>
                        {{ form.precio_semana_3 }}
                    </div>
                    <div class="col-2">
                        <h6>Libre (*)</h6>
                        {{ form.precio_libre }}
                    </div>
                </div>
                <br>
            </div>
            <button class="btn float-end" style="background-color: #FF9843;" type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}