{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
  
    <h2>Asistencia de {{ asistencia.disciplina.nombre }} - Fecha: {{ detalle_periodo.dia_numero }}/{{ asistencia.periodo.mes }}/{{ asistencia.periodo.anio }} <button type="button" class="btn float-end" style="background-color: #FF9843;" onclick="guardarCambios()">Guardar</button></h2>
    <br>
    <table id="asistenciaAlumnoTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-9">Alumno</th>
                <th scope="col" class="col-3">Presente</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.alumno.apellido }} {{ alumno.alumno.nombre }}</td>
                <td>
                    <button class="btn {{ alumno.presente|yesno:'btn-success,btn-danger' }}" onclick="cambiarEstadoAsistencia({{ alumno.id }})">
                        {{ alumno.presente|yesno:'Presente,Ausente' }}
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>     
</div>

<script>
  // Inicializar los tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
  });

  var cambios = {};

function cambiarEstadoAsistencia(detalleAsistenciaId) {
    // Cambia el estado de asistencia en la interfaz de usuario
    var boton = document.querySelector(`button[onclick="cambiarEstadoAsistencia(${detalleAsistenciaId})"]`);
    if (boton.textContent === 'Presente') {
        boton.textContent = 'Ausente';
        boton.classList.replace('btn-success', 'btn-danger');
    } else {
        boton.textContent = 'Presente';
        boton.classList.replace('btn-danger', 'btn-success');
    }

    // Guarda el cambio para enviarlo al servidor más tarde
    cambios[detalleAsistenciaId] = !cambios[detalleAsistenciaId];
}

function guardarCambios() {
    // Envía los cambios al servidor
    var promises = [];
    for (var detalleAsistenciaId in cambios) {
        var promise = fetch(`/asistencia/${detalleAsistenciaId}/actualizar_asistencia/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({'presente': cambios[detalleAsistenciaId]})
        });
        promises.push(promise);
    }
    Promise.all(promises).then(function(responses) {
        // Comprueba si todas las respuestas están bien
        var allOk = responses.every(function(response) {
            return response.ok;
        });
        if (allOk) {
            alert('Cambios guardados con éxito');
        } else {
            alert('Ocurrió un error al guardar los cambios');
        }
    });
}


</script>

<link rel="stylesheet" href="{% static 'style/jquery.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function() {
    var table = $('#asistenciaAlumnoTable').DataTable({
        "order": [[ 0, "desc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json",
            "sLengthMenu": "_MENU_",
            "sInfo": "<h6 class='float-end'>Total de registros: _TOTAL_</h6>"
        },
        "initComplete": function() {
            // Aplicar clases de Bootstrap al campo de búsqueda
            $('div.dataTables_filter input').attr('placeholder', 'Buscar..');
            $('div.dataTables_filter label').contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
            }).remove();

            // Aplicar clases de Bootstrap al select de cantidad de registros a mostrar
            $('div.dataTables_length label').contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
            }).remove();
            $('div.dataTables_length label').prepend('Registros por página: ');

            // Aplicar clases de Bootstrap a la paginación
            $('div.dataTables_paginate').addClass('justify-content-center');
            $('div.dataTables_paginate a').addClass('btn btn-primary');
            $('div.dataTables_paginate a').css('margin', '0 2px');
        },
        "drawCallback": function() {
            // Aplicar clases de Bootstrap a la paginación en cada cambio de página
            $('div.dataTables_paginate a');
            $('div.dataTables_paginate a').css('margin', '0 2px');
        }
    });

    // Mover el campo de búsqueda y el select de cantidad de registros a la misma fila
    $('div.dataTables_filter').css('float', 'right');
    $('div.dataTables_length').css('float', 'left');
    $('div.dataTables_filter').appendTo('#decretoTable_length');
});
</script>
{% endblock %}