{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Recalculo de cuota de {{ periodo.get_mes_display }} {{ periodo.anio }}</h2>
    <br>
    <h5 class="text-center">Se incrementará un 10% a las cuotas vencidas de este periodo</h5>
    <br>
    <form method="post" action="{% url 'actualizar_cuotas_vencimiento' periodo.id %}">
        {% csrf_token %}
        <table id="detalleCuotaTable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-4">Alumno</th>
                    <th scope="col" class="col-2">Monto Anterior</th>
                    <th scope="col" class="col-2">Monto Nuevo</th>
                    <th scope="col" class="col-4">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for cambio in cambios %}
                <tr>
                    <td>{{ cambio.alumno.apellido }} {{ cambio.alumno.nombre }} {% if cambio.alumno.beca %}<span class="badge" style="background-color: #FFBB64;">Beca: {{ cambio.alumno.descuento }}%</span>{% endif %}</td>
                    <td>${{ cambio.monto_anterior }}</td>
                    <td>${{ cambio.monto_nuevo }}</td>
                    <td>{{ cambio.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success float-end">Confirmar Cambios</button>
        <a href="{% url 'cuota_list' %}" class="btn btn-secondary float-end">Cancelar</a>
    </form>
</div>
{% endblock %}
