{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
  
    <h2>Cuotas {% if perms.AppDanzaVida.add_cuota %}<a href="{% url 'cuota_create' %}" class="btn float-end" style="background-color: #FF9843;">Nueva cuota <i class="bi bi-file-earmark-plus"></i></a>{% endif %}</h2>
    <br>
    <table id="cuotaTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-4">Nombre</th>
                <th scope="col" class="col-2">Vencimiento</th>
                <th scope="col" class="col-2">Total</th>
                <th scope="col" class="col-2">Cobrado</th>
                <th scope="col" class="col-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cuota in object_list %}
            <tr>
                <td>{{ cuota.nombre }}</td>
                {% load tz %}
                {% now "Y-m-d" as today %}
                {% if cuota.fecha_vencimiento|date:"Y-m-d" > today %}
                  <td><span class="badge bg-success">{{ cuota.fecha_vencimiento|date:"d/m/Y" }}</span></td>
                {% else %}
                  <td><span class="badge bg-danger">{{ cuota.fecha_vencimiento|date:"d/m/Y" }}</span></td>
                {% endif %}
                <td>TOTAL</td>
                <td>COBRADO</td>
                <td>
                  {% if perms.AppDanzaVida.view_cuota %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <button type="button" class="btn" style="background-color: #FFBB64;" onclick="window.location.href='{% url 'detalle_cuota_list' cuota.id %}'"><i class="bi bi-list-task"></i></button>
                  </span>
                  {% endif %}
                  {% if perms.AppDanzaVida.change_cuota %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                    <button type="button" class="btn" style="background-color: #9DBC98;" onclick="window.location.href='{% url 'cuota_update' cuota.id %}'"><i class="bi bi-pencil"></i></button>
                  </span>
                  {% endif %}
                  {% if perms.AppDanzaVida.delete_cuota %}
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <button type="button" class="btn" style="background-color: #D24545;" data-bs-toggle="modal" data-bs-target="#deleteModal{{ cuota.id }}"><i class="bi bi-trash"></i></button>
                  </span>
                  {% endif %}
                </td>
              </tr>
              <!-- Inicio Modal Eliminar -->
              <div class="modal fade" id="deleteModal{{ cuota.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p class="text-center">¿Estás seguro de que deseas eliminar la cuota <b>{{ cuota.nombre }}</b> junto con todos los detalles generados?</p>
                      <p class="text-danger text-center"><b>¡Una vez eliminada no podrás recuperarlo!</b></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <a href="{% url 'cuota_delete' cuota.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin Modal Eliminar -->
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  // Inicializar los tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>

<link rel="stylesheet" href="{% static 'style/jquery.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function() {
    var table = $('#cuotaTable').DataTable({
        "order": [[ 0, "desc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json",
            "sLengthMenu": "_MENU_",
            "sInfo": "<h6 class='float-end'>Total de registros: _TOTAL_</h6>"
        },
        "initComplete": function() {
            // Aplicar clases de Bootstrap al campo de búsqueda
            $('div.dataTables_filter input').attr('placeholder', 'Buscar..');
            $('div.dataTables_filter label').contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
            }).remove();

            // Aplicar clases de Bootstrap al select de cantidad de registros a mostrar
            $('div.dataTables_length label').contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
            }).remove();
            $('div.dataTables_length label').prepend('Registros por página: ');

            // Aplicar clases de Bootstrap a la paginación
            $('div.dataTables_paginate').addClass('justify-content-center');
            $('div.dataTables_paginate a').addClass('btn btn-primary');
            $('div.dataTables_paginate a').css('margin', '0 2px');
        },
        "drawCallback": function() {
            // Aplicar clases de Bootstrap a la paginación en cada cambio de página
            $('div.dataTables_paginate a');
            $('div.dataTables_paginate a').css('margin', '0 2px');
        }
    });

    // Mover el campo de búsqueda y el select de cantidad de registros a la misma fila
    $('div.dataTables_filter').css('float', 'right');
    $('div.dataTables_length').css('float', 'left');
    $('div.dataTables_filter').appendTo('#decretoTable_length');
});
</script>
{% endblock %}